{% extends 'core/basePag.html' %}
{% block title> %}Nosotros{% endblock %}
{% load static %}
{% block menu %}
    <li><a href="/" data-hover="Inicio">Inicio</a></li>
    <li class="active"><a href="/about" data-hover="Sobre nosotros">Sobre nosotros</a></li>
    <li><a href="/contact" data-hover="Contactanos">Contactanos</a></li>
    <li><a href="/admin" data-hover="ADMIN">ADMIN</a></li>
    <li><a href="/login" data-hover="LOGIN">LOGIN</a></li>
{% endblock %}
{% block bread %}
    <li><a href="/">Home</a><i>|</i></li>
    <li>Nosotros</li>
{% endblock %}
{% block tibread %}<h2>NOSOTROS</h2>{% endblock %}
{% block content %}
    <!-- about -->
	<div class="about">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Sobre nosotros</h3>
			<div class="w3_about_grids">
				<div class="col-md-6 w3_about_grid_left">
					<h5>Integer facilisis velit leo, vitae gravida</h5>
					<p>Suspendisse ornare sed purus a imperdiet. Integer viverra nisi orci, 
						in volutpat leo ornare vitae. Nulla faucibus, arcu at consequat vulputate, 
						turpis metus blandit urna, quis suscipit orci nibh nec est.</p>
					<div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						  <h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche proident
							</a>
						  </h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-6 w3_about_grid_right">
					<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<img src="{% static 'core/images/11.jpg' %}" alt=" " class="img-responsive" />
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<img src="{% static 'core/images/12.jpg' %}" alt=" " class="img-responsive" />
								</div>
							</article>
						</div>
					</div>
					<script src="{% static 'core/js/jquery.wmuSlider.js' %}"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
<!-- team -->
	<div class="team">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Equipo</h3>
			<div class="agile_team_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="{% static 'core/images/1.png' %}" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="facebook1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="google1"></a></li>
								<li><a href="#" class="instagram1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Jose Arriega <span>Dueño</span></h4>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="{% static 'core/images/3.png' %}" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="twitter1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="facebook1"></a></li>
								<li><a href="#" class="instagram1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Tomas Crovetto <span>Veterinario</span></h4>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="{% static 'core/images/2.png' %}" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="google1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="instagram1"></a></li>
								<li><a href="#" class="twitter1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Claudio Crovetto <span>Ganadero</span></h4>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="{% static 'core/images/4.png' %}" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="instagram1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="facebook1"></a></li>
								<li><a href="#" class="twitter1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Michael Carl <span>Desarrollador</span></h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
<!-- team-bottom -->
	<div class="team-bottom">
		<div class="container">
			<h3>Nulla faucibus, arcu at consequat vulputate, turpis metus blandit urna, 
				quis suscipit orci nibh nec est. Phasellus tempus augue turpis.</h3>
			<p class="dolor">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<div class="more more1">
				<a href="/contact" class="button button--nina button--size-s" data-text="Contacto">
					<span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span><span>o</span>
				</a>
			</div>
		</div>
	</div>
<!-- //team-bottom -->
{% endblock %}
{% block footer %}
    <div class="col-md-4 agileinfo_footer_grid">
		<h3>Sobre Nosotros</h3>
		<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<form action="#" method="post">
			<input type="email" name="Email" placeholder="Email" required="">
			<input type="submit" value="Send">
		</form>
	</div>
    <div class="col-md-4 agileinfo_footer_grid">
		<h3>Post en Twitter</h3>
		<ul class="w3agile_footer_grid_list">
			<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
				<span>02 days ago</span></li>
			<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://uiubajaj.com</a> ut aut
						voluptatibus.<span>03 days ago</span></li>
		</ul>
	</div>
    <div class="col-md-4 agileinfo_footer_grid">
		<h3>Redes Sociales</h3>
		<ul class="agileinfo_social_icons">
			<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
			<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
			<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
			<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
		</ul>
	</div>
{% endblock %}